@{


}

@model Books

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>$@Model.Price</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">By @Model.Author</div>

    <ul>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Number of Pages: @Model.PageCount</li>
    </ul>

    <br />
    <form method="post" asp-page="/Purchase">

        <input type="hidden" asp-for="@Model.BookId"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="bn btn-success btn-sm float-end">Buy Now</button>
        </span>

    </form>

</div>

<br />


